<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
</script>

<template>
  <a class="back" href="https://grrrlzinefair.com">
    <div class="arrow">↯</div>
    <div>back to grrrl zine fair</div>
  </a>

  <header>
    <RouterLink to="/">
      <img
        srcset="@/assets/logo.png?preset=header&srcset"
        src="@/assets/logo.png?preset=header&src"
        alt="Grrrl Zine Library"
      />
    </RouterLink>
  </header>

  <div id="content">
    <RouterView v-slot="{ Component }">
      <template v-if="Component">
        <Suspense>
          <!-- main content -->
          <component :is="Component"></component>

          <!-- loading state -->
          <template #fallback> Loading... </template>
        </Suspense>
      </template>
    </RouterView>
  </div>
</template>

<style lang="postcss" scoped>
.back {
  background-color: var(--pink);
  display: inline-block;
  width: 100%;
  padding: 0.1em 0;
  opacity: 0.75;

  & > .arrow {
    font-size: 0.75em;
    transform: rotate(90deg);
    margin-left: 1em;
    margin-right: 0.2em;
  }

  & > div {
    display: inline-block;
  }
}

header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;

  text-align: center;

  & > img {
    width: 90%;
  }
}

#content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0 0.5em;
}
</style>
