<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
</script>

<template>
  <a class="back" href="https://grrrlzinefair.com">
    <div class="arrow">↯</div>
    <div>back to grrrl zine fair</div>
  </a>

  <header>
    <RouterLink to="/">
      <img
        srcset="@/assets/logo.png?preset=header&srcset"
        src="@/assets/logo.png?preset=header&src"
        alt="Grrrl Zine Library"
      />
    </RouterLink>
  </header>
  <div class="wrapper">
    <nav>
      <RouterLink to="/search" class="logo-link search">Search</RouterLink>
      <RouterLink to="/about" class="logo-link about">About</RouterLink>
      <RouterLink to="/faqs" class="logo-link faqs">FAQs</RouterLink>
    </nav>
  </div>

  <div id="content">
    <RouterView v-slot="{ Component }">
      <template v-if="Component">
        <Suspense>
          <!-- main content -->
          <component :is="Component"></component>

          <!-- loading state -->
          <template #fallback> Loading... </template>
        </Suspense>
      </template>
    </RouterView>
  </div>
</template>

<style lang="postcss" scoped>
.back {
  background-color: var(--pink);
  display: inline-block;
  width: 100%;
  padding: 0.1em 0;
  opacity: 0.75;

  & > .arrow {
    font-size: 0.75em;
    transform: rotate(90deg);
    margin-left: 1em;
    margin-right: 0.2em;
  }

  & > div {
    display: inline-block;
  }
}

nav {
  font-family: Poultry;
  font-size: 15vw;
  text-align: center;

  margin-top: 1rem;

  line-break: anywhere;

  display: grid;
  grid:
    'search authors about'
    'search categories faqs' / auto;
  align-items: center;
  justify-content: center;
  gap: 1rem 1rem;

  @media (min-width: 513px) {
    margin-top: 0.2em;
    font-size: 4em;
    gap: 0 1em;
  }

  & > a {
    text-decoration: none;

    &.search {
      grid-area: search;
    }

    &.authors {
      grid-area: authors;
    }

    &.categories {
      grid-area: categories;
    }

    &.about {
      grid-area: about;
    }

    &.faqs {
      grid-area: faqs;
    }

    &.authors,
    &.categories {
      font-size: 0.5em;

      @media (max-width: 512px) {
        & {
          font-size: 0.75em;
        }
      }
    }

    &.about,
    &.faqs {
      font-size: 0.5em;

      @media (max-width: 512px) {
        font-size: 0.75em;
      }
    }
  }
}

header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;

  text-align: center;

  & img {
    width: 90%;
    max-width: 100%;
  }
}

#content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0 0.5em;
}
</style>
