<script setup lang="ts">
import {
  Zine,
  type Problem,
  type RawZine,
  type DuplicateZine,
} from '@api/types';

defineProps<{ problem: Problem }>();

async function upsert(raw: RawZine): Promise<void> {
  const zine = new Zine(raw);

  console.log(zine);
}
</script>

<template>
  <div class="problem">
    <div v-if="problem.type === 'list_with_and'">
      The list in column `{{ problem.column }}` ends with `and`. The current
      value of the list is:
      <pre>'{{ problem.val }}'</pre>
    </div>
    <div v-else-if="problem.type === 'wrong_type'">
      The value in column `{{ problem.column }}` is meant to be a `{{
        problem.ty
      }}`. The current value is:
      <pre>'{{ problem.val }}'</pre>
    </div>
    <div v-else-if="problem.type === 'missing_field'">
      Column `{{ problem.column }}` is empty - but should be filled.
    </div>
    <div v-else-if="problem.type === 'duplicate_id'">
      A zine with the ID {{ problem.existing.id }} already exists in the
      database!
      <br />
      This row is '{{ problem.new.title }}'.
      <br />
      The existing zine is '{{ problem.existing.title }}'.
    </div>
    <div v-else-if="problem.type === 'duplicate_zine'">
      This zine already exists in the database!
      <br />
      You can update the existing entry by clicking here:
      <button @click="upsert((problem as DuplicateZine).new)">
        update existing zine
      </button>
    </div>
    <div v-else>
      Another error:
      <pre>{{ JSON.stringify(problem, null, 2) }}</pre>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
pre {
  white-space: pre-wrap;
}

.problem:not(:last-child) {
  border-bottom: 1px solid var(--pink);
}
</style>
