<script setup lang="ts">
import { padStart } from 'lodash';
import type { Zine } from '@api/types';
import ZineAuthors from '@/components/ZineAuthors.vue';
import ZineSeries from '@/components/ZineSeries.vue';
import ZineImage from '@/components/ZineImage.vue';

const props = defineProps<{
  zine: Zine;
}>();

const zine_id = `GZF${padStart(props.zine.id.toString(), 3, '0')}`;
</script>

<template>
  <div class="zine-page">
    <ZineImage :zine="zine" :size="'big'"></ZineImage>
    <h1 class="title logo-text">{{ zine.title }}</h1>

    <div class="authors" v-if="zine.authors.length > 0">
      by
      <ZineAuthors :zine="zine"></ZineAuthors>
    </div>

    <template v-if="zine.series">
      <div class="series">
        <ZineSeries :zine="zine"></ZineSeries>
      </div>
    </template>

    <h2
      v-if="zine.description || zine.physical_description"
      class="description-label"
    >
      Description
    </h2>

    <template v-if="zine.description">
      <div class="description-value">{{ zine.description }}</div>
    </template>

    <template v-if="zine.physical_description">
      <div class="physical-description-value">
        {{ zine.physical_description }}
      </div>
    </template>

    <h2 class="details-title">Details</h2>
    <div class="details">
      <template v-if="zine.publisher">
        <div class="publisher label">Publisher:</div>
        <div class="publisher value">{{ zine.publisher }}</div>
      </template>

      <template v-if="zine.year">
        <div class="year label">Year Published:</div>
        <div class="year value">{{ zine.year_string }}</div>
      </template>

      <template v-if="zine.size">
        <div class="size label">Size:</div>
        <div class="size value">{{ zine.size }}</div>
      </template>

      <template v-if="zine.categories.length > 0">
        <div class="categories label">Categories:</div>
        <div class="categories value">
          <ul>
            <li v-for="category in zine.categories" :key="category">
              <RouterLink
                :to="{ name: 'category-page', params: { name: category } }"
                class="router-link"
              >
                {{ category }}
              </RouterLink>
            </li>
          </ul>
        </div>
      </template>

      <template v-if="zine.affiliated_links.length > 0">
        <div class="affiliated-links label">Links:</div>
        <div class="affiliated-links value">
          <ul>
            <li v-for="link in zine.affiliated_links" :key="link">
              <a :href="link">{{ link }}</a>
            </li>
          </ul>
        </div>
      </template>

      <div class="id label">ID:</div>
      <div class="id value">{{ zine_id }}</div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.zine-page {
  background-color: white;

  border: 3px solid var(--pink);
  border-radius: 0.25em;
  border-top-left-radius: 1em;

  padding: 1em;

  margin-bottom: 1em;
}

ul {
  list-style: none;

  margin: 0;
  padding-left: 0;
}

.details {
  background-color: white;

  display: grid;
  grid:
    [publisher-start] 'label value' [publisher-end]
    [year-start] 'label value' [year-end]
    [size-start] 'label value' [size-end]
    [categories-start] 'label value' [categories-end]
    [affiliated-links-start] 'label value' [affiliated-links-end]
    [id-start] 'label value' [id-end]
    / max-content auto;
  column-gap: 1em;
}

.details-title {
  margin-top: 1em;
}

.image {
  max-width: 100%;

  & > picture {
    max-width: 100%;

    & > img {
      max-width: 100%;
    }
  }
}

.title {
  grid-area: title;

  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  font-size: 2rem;
}

.series {
  text-align: right;

  opacity: 0.5;
}

.authors {
  text-align: center;
  font-style: italic;

  margin-bottom: 1em;
}

.description-label {
  grid-area: description-label;
}

.description-value {
  grid-area: description-value;
}

.physical-description-value {
  grid-area: physical-description-value;
}

.label {
  grid-column: label;

  justify-self: end;
}

.value {
  grid-column: value;
}

.publisher {
  grid-row: publisher;
}

.year {
  grid-row: year;
}

.size {
  grid-row: size;
}

.categories {
  grid-row: categories;
}

.affiliated-links {
  grid-row: affiliated-links;
}

.description {
  grid-row: description;
}

.physical-description {
  grid-row: physical-description;
}

.id {
  grid-row: id;
}
</style>
