<script setup lang="ts">
import { ref, watch, type Ref } from 'vue';
import { debounce } from 'lodash-es';
import api from '@api/api';
import { Zine, SearchField } from '@api/types';
import ZineListing from '@/components/ZineListing.vue';

const search: Ref<string> = ref('');
const zines: Ref<Zine[]> = ref([]);

watch(
  search,
  debounce(async () => {
    if (search.value === '') {
      zines.value = [];
    } else {
      zines.value = await api.search({
        field: SearchField.Fuzzy,
        value: search.value,
      });
    }
  }, 250),
);
</script>

<template>
  <div class="search">
    <label for="search">Search:</label>
    <input v-model="search" type="search" id="search" />
  </div>
  <ul>
    <li v-for="zine in zines" :key="zine.id">
      <ZineListing :zine="zine"></ZineListing>
    </li>
  </ul>
</template>

<style lang="postcss" scoped>
ul {
  list-style: none;
  padding-left: 0;

  & > li {
    margin-bottom: 1em;
  }
}

.search {
  display: grid;
  grid: 'label search' / min-content auto;
  align-items: end;
  gap: 1ex;

  & > label {
    grid-area: label;

    font-family: Poultry;
    font-size: 1.7rem;
  }

  & > input {
    grid-area: search;

    border: 2px solid var(--orange);
    border-radius: 0.25em;

    padding: 0.25em 0.5em;

    font-family: inherit;
    font-size: inherit;
  }
}
</style>
