<script setup lang="ts">
import api from '@api/api';
import type { Zine } from '@api/types';

const props = defineProps<{
  zine: Zine;
  size: 'thumbnail' | 'big';
}>();

const image = `${api.config.static_endpoint}/images/${props.zine.id}`;

type Side = 'front' | 'back';
const sides: Side[] = ['front', 'back'];

async function exists(url: string): Promise<boolean> {
  const res = await fetch(url, {
    method: 'HEAD',
  });

  return res.status === 200;
}

const image_exists = await exists(`${image}/thumbnail_front.avif`);
</script>

<template>
  <template v-if="image_exists">
    <picture class="thumbnail" v-if="size === 'thumbnail'">
      <source type="image/avif" :srcset="`${image}/${size}_front.avif`" />
      <source type="image/jpeg" :srcset="`${image}/${size}_front.jpg`" />

      <img :src="`${image}/${size}_front.jpg`" />
    </picture>
    <div class="sides" v-else>
      <picture v-for="side in sides" :key="side" :class="side">
        <source
          type="image/avif"
          :srcset="`${image}/${size}_${side}.avif 500w`"
          media="(min-width: 500px) and (max-width: 800px)"
        />
        <source
          type="image/jpeg"
          :srcset="`${image}/${size}_${side}.jpg 500w`"
          media="(min-width: 500px) and (max-width: 800px)"
        />

        <source
          type="image/avif"
          :srcset="`${image}/${size}_${side}.avif 1000w`"
          media="(min-width: 800px)"
        />
        <source
          type="image/jpeg"
          :srcset="`${image}/${size}_${side}.jpg 1000w`"
          media="(min-width: 800px)"
        />

        <img :src="`${image}/${size}_${side}.jpg`" />
      </picture>
    </div>
  </template>
  <template v-else>
    <picture :class="size">
      <source
        type="image/avif"
        :srcset="`${api.config.static_endpoint}/images/placeholder/placeholder_${size}.avif`"
      />
      <source
        type="image/jpeg"
        :srcset="`${api.config.static_endpoint}/images/placeholder/placeholder_${size}.jpg`"
      />

      <img
        :src="`${api.config.static_endpoint}/images/placeholder/placeholder_${size}.jpg`"
      />
    </picture>
  </template>
</template>

<style lang="postcss" scoped>
picture {
  width: 100%;
  height: auto;

  &.thumbnail {
    max-width: 200px;

    & > img {
      max-width: 200px;
      border-top-left-radius: 1em;
    }
  }
}

img {
  width: 100%;
  height: auto;

  max-inline-size: 100%;
  block-size: auto;

  border: 3px solid var(--pink);
  border-radius: 0.25em;

  object-fit: contain;
}

.sides {
  display: grid;
  grid:
    'front back' min-content
    / auto auto;
}

.front {
  grid-area: front;

  & > img {
    border-top-left-radius: 1em;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
}

.back {
  grid-area: back;

  & > img {
    border-top-right-radius: 1em;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
</style>
