<script setup lang="ts">
import type { Zine } from '@api/types';

defineProps<{
  zine: Zine;
}>();
</script>

<template>
  <span v-for="(author, idx) in zine.authors" :key="author">
    <span v-if="idx === 0"></span>
    <span v-else-if="idx + 1 < zine.authors.length">, </span>
    <span v-else> and </span>

    <RouterLink
      :to="{ name: 'author-page', params: { name: author } }"
      class="router-link"
    >
      {{ author }}
    </RouterLink>
  </span>
</template>
