<script setup lang="ts">
import { RouterLink } from 'vue-router';

import type { Zine } from '@api/types';
import ZineAuthors from '@/components/ZineAuthors.vue';
import ZineImage from '@/components/ZineImage.vue';
import ZineSeries from '@/components/ZineSeries.vue';

defineProps<{
  zine: Zine;
}>();
</script>

<template>
  <RouterLink
    :to="{ name: 'zine-page', params: { id: zine.id } }"
    class="router-link zine-listing"
  >
    <div class="image">
      <ZineImage :zine="zine" :size="'thumbnail'"></ZineImage>
    </div>

    <h2 class="title logo-text">{{ zine.title }}</h2>
    <ZineSeries class="series" :zine="zine"></ZineSeries>

    <div class="authors"><ZineAuthors :zine="zine"></ZineAuthors></div>

    <div class="desc">
      <div>{{ zine.description }}</div>
    </div>

    <template v-if="zine.categories.length > 0">
      <div class="categories">
        <ul>
          <li v-for="category in zine.categories" :key="category">
            <RouterLink
              :to="{ name: 'category-page', params: { name: category } }"
              class="router-link"
            >
              {{ category }}
            </RouterLink>
          </li>
        </ul>
      </div>
    </template>
  </RouterLink>
</template>

<style lang="postcss" scoped>
.router-link.zine-listing {
  color: initial;
  text-decoration: none;

  background-color: white;

  border: 3px solid var(--pink);
  border-radius: 0.25em;
  border-top-left-radius: 1em;

  padding: 1em;

  gap: 1em;

  display: grid;
  grid:
    'title title series' min-content
    'authors authors image' min-content
    'desc desc image' 1fr
    'categories categories image' min-content
    / auto auto max-content;

  &:hover {
    border-color: var(--orange);

    & > .title {
      color: var(--pink);
      text-shadow: -0.05em 0.05em 0 var(--green), 0 -0.05em 0 var(--orange);
    }
  }

  @media (max-width: 512px) {
    grid:
      'title'
      'series'
      'authors'
      'image'
      'desc'
      'categories'
      / auto;
  }
}

.image {
  grid-area: image;

  @media (max-width: 512px) {
    place-self: center;

    & > :deep(picture),
    & > :deep(picture > img) {
      max-width: 100%;
    }
  }
}

.title {
  grid-area: title;
  text-decoration: none;

  margin-top: 0em;

  font-size: 2em;
}

.series {
  grid-area: series;
  place-self: start end;

  opacity: 0.5;
}

.authors {
  grid-area: authors;
}

.desc {
  grid-area: desc;

  & > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
  }
}

.categories {
  grid-area: categories;

  & > ul {
    list-style: none;

    margin: 0;
    padding-left: 0;

    & > li {
      display: inline;
      padding-right: 0.5em;
    }
  }
}
</style>
