<script setup lang="ts">
import type { Zine } from '@api/types';

defineProps<{
  zine: Zine;
}>();
</script>

<template>
  <span>
    <span>{{ zine.series }}</span>
    <span v-if="zine.issue_no"> (Issue #{{ zine.issue_no }})</span>
  </span>
</template>
