:root {
  --green: #d0ffa2;
  --orange: #ff9b00;
  --pink: #ffc4d7;
}

html,
body {
  font-family: Berylium;
  font-size: 1.1em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poultry;
  font-size: 1.5rem;

  margin: 0;
}

a {
  color: inherit;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 2.5px;

  &:hover {
    text-decoration-color: var(--pink);
    text-decoration-thickness: 3px;
  }
}

#app {
  min-width: 100%;
  min-height: 100%;
}

.logo-text {
  font-family: Poultry;
  color: var(--pink);
  text-shadow: -0.05em 0.05em 0 var(--orange), 0 -0.025em 0 var(--green);
}

.logo-link {
  font-family: Poultry;
  color: var(--pink);
  text-shadow: -0.05em 0.05em 0 var(--orange), 0 -0.025em 0 var(--green);

  &:hover {
    color: var(--pink);
    text-shadow: -0.05em 0.05em 0 var(--green), 0 -0.05em 0 var(--orange);
  }
}

/* @media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #222;
    color: #ddd;
  }
} */
