<script lang="ts" setup>
import api from '@api/api';
import { useHead } from '@unhead/vue';

useHead({ title: `About - ${api.config.title}` });
</script>

<template>
  <div class="page">
    <h1>Grrrl Zine Library</h1>
    <p>
      Grrrl Zine Fair was started in 2015 by artist Lu Williams as a way to pull
      together feminist self-publishing through events, workshops, and zines,
      including its own Grrrl in Print series. Inspired by Riot Grrrl culture of
      the 1990s - which combined zine-making, art and music, with the band
      Bikini Kill coining the term ‘Grrrl to the front!' - Grrrl continues this
      mission of bringing girls, women, transgender, non-binary and gender fluid
      people to the front. Grrrl platforms our marginalised voices through
      events, artworks, talks, hosting zine-making and skills-sharing workshops,
      and occasionally curating exhibitions.
    </p>
    <p>
      In 2017, the first Grrrl Zine Library installation was created for Village
      Green Festival with our friends at InSitu. The space was made of trellis
      walls of zines, with an area for workshops. The collection has always been
      displayed in this immersive way to hold and take up space and has evolved
      into various installational capacities, including our now signature orange
      cargo netting. Since its first inception, the library has quickly grown to
      be perhaps the largest single collection of queer and feminist zines in
      the UK. The library has been exhibited at Times Art Museum in Beijing,
      China, at V&A Museum, Nottingham Contemporary, Whitechapel Gallery and
      British Film Institute.
    </p>
    <p>
      Late in 2023, Grrrl Zine Fair CIC was awarded a National Lottery Heritage
      Fund grant to create an online archive of Grrrl Zine Library, which is now
      a collection of around 900 zines. This archive is the outcome of that
      project and we have consulted with zine libraries, archivists, hobbyist
      collectors, fans, and zine-makers to consider the best way to archive
      zines. The collection continues to grow and we continue to learn about the
      process and aim to make it more accessible.
    </p>
    <p>
      A massive thank you to Callym Cooke for designing the website and the
      online archive, to Samantha Dube and Ella Alalada for starting off this
      process back in 2022, to Joe Holland and Elleanna Chapman for spending
      hours and hours writing our zine descriptions and putting such care into
      the archive process, and of course to Dom Russell for her incredible
      archival photography, and all of the zine-makers who've contributed to
      Grrrl Zine Library so far.
    </p>
    <h1>Lu Williams</h1>
    <p>
      Lu Williams is a queer, working class artist living and working in Essex.
      They founded Grrrl Zine fair in 2015 and co-founded Dog Ear in 2020. They
      create cross disciplinary artworks, events and printed matter with a focus
      on DIY culture, workshops, intersectional feminism and working class
      culture. Grrrl Zine Fair functions as a collaborative project with
      revolving collaborations between artists, partners and brands exploring
      contemporary feminist zine making.
    </p>
  </div>
</template>

<style lang="postcss" scoped>
.page {
  background-color: white;

  border: 3px solid var(--pink);
  border-radius: 0.25em;
  border-top-left-radius: 1em;

  padding: 1em;

  margin-bottom: 1em;
}
</style>
