<script setup lang="ts">
import api from '@api/api';
import type { AuthorEntry } from '@api/types';
import { ref, type Ref } from 'vue';
import { useHead } from '@unhead/vue';

useHead({ title: `Categories - ${api.config.title}` });

const authors: Ref<AuthorEntry[]> = ref([]);

authors.value = await api.author.all();
</script>

<template>
  <ul>
    <li v-for="author in authors" :key="author.name">
      <RouterLink
        :to="{ name: 'author-page', params: { name: author.name } }"
        class="router-link"
      >
        {{ author.name }}
      </RouterLink>
      <span class="count">({{ author.count }})</span>
    </li>
  </ul>
</template>

<style lang="postcss" scoped>
ul {
  list-style: none;
  padding-left: 0;

  display: grid;
  grid: 'name count' / max-content auto;
  gap: 0.1em 1em;

  & > li {
    display: contents;

    & > .name {
      grid-column: name;
    }

    & > .count {
      grid-column: count;
    }
  }
}
</style>
