<script setup lang="ts">
import api from '@api/api';
import type { CategoryEntry } from '@api/types';
import { ref, type Ref } from 'vue';
import { useHead } from '@unhead/vue';

useHead({ title: `Categories - ${api.config.title}` });

const categories: Ref<CategoryEntry[]> = ref([]);

categories.value = await api.category.all();
</script>

<template>
  <ul>
    <li v-for="category in categories" :key="category.name">
      <RouterLink
        :to="{ name: 'category-page', params: { name: category.name } }"
        class="router-link"
      >
        {{ category.name }}
      </RouterLink>
      <span class="count">({{ category.count }})</span>
    </li>
  </ul>
</template>

<style lang="postcss" scoped>
ul {
  list-style: none;
  padding-left: 0;

  display: grid;
  grid: 'name count' / max-content auto;
  gap: 0.1em 1em;

  & > li {
    display: contents;

    & > .name {
      grid-column: name;
    }

    & > .count {
      grid-column: count;
    }
  }
}
</style>
