<script setup lang="ts">
import api from '@api/api';
import type { Zine } from '@api/types';
import { ref, type Ref } from 'vue';
import { useRoute, onBeforeRouteUpdate } from 'vue-router';
import { useHead } from '@unhead/vue';

import ZineListing from '@/components/ZineListing.vue';

const route = useRoute();

const category: Ref<string | null> = ref(null);
const zines: Ref<Zine[]> = ref([]);

onBeforeRouteUpdate(update);

async function update() {
  if (route.params.name == null) {
    // Error
    throw new Error();
  }

  if (Array.isArray(route.params.name)) {
    // Error
    throw new Error();
  }

  category.value = route.params.name;

  zines.value = await api.category.zines(category.value);
  useHead({ title: `${category.value} - ${api.config.title}` });
}

await update();
</script>

<template>
  <h1 class="logo-text">{{ category }}</h1>
  <ul>
    <li v-for="zine in zines" :key="zine.id">
      <ZineListing :zine="zine"></ZineListing>
    </li>
  </ul>
</template>

<style lang="postcss" scoped>
ul {
  list-style: none;
  padding-left: 0;

  & > li {
    margin-bottom: 1em;
  }
}
</style>
