<script lang="ts" setup>
import api from '@api/api';
import { useHead } from '@unhead/vue';

useHead({ title: `FAQs - ${api.config.title}` });

const body = encodeURIComponent(`Zine Name:
Author(s):
Publisher:
Publication date:
Short description of the zine:
Visual description:`);
</script>

<template>
  <div class="page">
    <h1>Frequently Asked Questions</h1>
    <h2>Can I visit the Grrrl Zine Library?</h2>
    <p>
      We have Open Days once a month to allow visitors to come to the Library.
      Please book in advance by emailing
      <a
        href="mailto:hello@grrrlzinefair.com?subject=Open Days"
        target="_blank"
        rel="noopener noreferrer"
        >hello@grrrlzinefair.com </a
      >. You can also follow us on
      <a href="https://www.eventbrite.com/o/grrrl-zine-fair-59608971263"
        >EventBrite</a
      >
      so you'll hear about any of our other events coming up. As the Library is
      housed in working artists' studios it's not open to the public except for
      those specific times.
    </p>
    <h2>Can I donate my zine to Grrrl Zine Library?</h2>
    <p>
      We love receiving new (and old!) zines to add to the collection. Please
      email
      <a
        :href="`mailto:hello@grrrlzinefair.com?subject=Submitting my zine&body=${body}`"
        target="_blank"
        rel="noopener noreferrer"
        >hello@grrrlzinefair.com</a
      >
      with:
    </p>
    <ol>
      <li>Zine Name</li>
      <li>Author(s)</li>
      <li>
        Publisher (if any - it can be you, your collective or a zine distro)
      </li>
      <li>Publication date</li>
      <li>
        Short description of the zine (what it's about, this helps us tag your
        zine by theme)
      </li>
      <li>
        Visual description (this is for visually impaired folx - keep it basic,
        describe the size / colour - content of front page. We can do this for
        you if you're finding it tricky).
      </li>
    </ol>
    <p>and you'll get an auto reply with the address to post to :)</p>
    <p>
      We can't cover postage at this time, unfortunately, but if you are able,
      two copies would be appreciated so one can live in our main archive and
      the other can go out to workshops and travel when the library does.
    </p>
    <p>
      If you can only send one copy, we'll add it to the archive collection,
      which can be visited at our studios but will not go out to public events.
    </p>
    <p>
      We are currently holding cataloguing days once a month, so if you don't
      see your zine in the library archive immediately, it will probably be
      entered in the next round.
    </p>
    <p>Thank you so much - can't wait to read!</p>
    <h2>Can I send my zine as a downloadable PDF?</h2>
    <p>
      Yes, please! We'll still need the same cataloguing info as above, but a
      downloadable PDF will enable us to add your zine directly to the online
      archive. We don't update the archive every day but we do have regular
      scheduled maintenance days. Please note we will not charge users for
      downloads.
    </p>
    <h2>How can I request a correction to my zine's entry in the archive?</h2>
    <p>
      Please email us at
      <a
        href="mailto:hello@grrrlzinefair.com?subject=Zine Correction"
        target="_blank"
        rel="noopener noreferrer"
        >hello@grrrlzinefair.com</a
      >
      and we will be happy to help. If you want to have your zine deleted, it's
      the same email address.
    </p>
    <p>
      We may not be able to change it immediately, but we will as soon as we
      can. The same goes for removing your zine from our library. The collection
      has received donations from many different people and we appreciate it's
      possible that not all zines added to the collection have been donated
      directly by the zine-maker. Please let us know if you would like it
      removed from the public collection or from the catalogue altogether. We'll
      do this as soon as possible.
    </p>
    <h2>
      Do you have opportunities for volunteers, work experience, internships or
      student placements at Grrrl Zine Library?
    </h2>
    <p>
      Sorry, but we don't have those opportunities at the moment. Please follow
      us on social media so that you'll be among the first to know if that
      changes.
    </p>
    <h2>How is Grrrl Zine Library funded?</h2>
    <p>
      The online archive has been created thanks to funding from the National
      Lottery Heritage Fund. We do not have ongoing funding. If you would like
      to donate to our ongoing work, please email
      <a
        href="mailto:hello@grrrlzinefair.com?subject=Donation"
        target="_blank"
        rel="noopener noreferrer"
        >hello@grrrlzinefair.com</a
      >
    </p>
    <h2>Are there any other zine libraries?</h2>
    <p>
      Yes, loads! Zine library are often small, DIY collections, made from a
      labour of love, but - like ours - they can grow into something more
      substantial!
    </p>
    <div>
      Here are our recommendations:
      <ul>
        <li>
          <a href="https://www.glasgowzinelibrary.com/zine-collection">
            Glasgow Zine Library
          </a>
        </li>
        <li>
          <a href="https://www.sherwoodforestzinelibrary.org/">
            Sherwood Forest Zine Library
          </a>
        </li>
        <li>
          <a
            href="https://wellcomecollection.org/search/works?query=%22Zines.%22"
          >
            Wellcome Collection
          </a>
        </li>
        <li>
          <a href="https://www.queerzinelibrary.com/">Queer Zine Library</a>
        </li>
        <li>
          <a href="https://salfordzinelibrary.co.uk/">Salford Zine Library</a>
        </li>
        <li>
          <a href="https://www.kekemagazine.com/zine-library/">Keke Magazine</a>
        </li>
        <li>
          <a href="https://archive.org/details/zines">Internet Archive</a>
        </li>
        <li>
          <a href="https://misspentsummers.com/zine-library/">
            Misspent Summers
          </a>
        </li>
        <li>
          <a href="https://zines.barnard.edu/barnard-zines-online-links">
            Barnard Zines
          </a>
        </li>
        <li>
          <a
            href="https://digitalcollections.library.miami.edu/digital/collection/zines"
          >
            Miami Libraries
          </a>
        </li>
        <li>
          <a href="https://issuu.com/migrantzinecollective">
            Migrant Zine Collective
          </a>
        </li>
        <li>
          <a href="https://www.indigenousaction.org/zines/">
            Indigenous Action
          </a>
        </li>
        <li>
          <a href="https://jewishzinearchive.com/">Jewish Zine Archive</a>
        </li>
        <li>
          <a
            href="https://www.loc.gov/collections/zine-web-archive/about-this-collection/"
          >
            Library of Congress
          </a>
        </li>
        <li>
          <a href="https://www.papercutzinelibrary.com/virtual-library">
            Papercut Zine Library
          </a>
        </li>
        <li>
          <a href="https://issuu.com/poczineproject">POC Zine Project</a>
        </li>
        <li>
          <a href="https://www.quarantinepubliclibrary.com/">
            Quarantine Public Library
          </a>
        </li>
        <li>
          <a href="https://archive.qzap.org/">
            Queer Zine Archive Project (QZAP)
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.page {
  background-color: white;

  border: 3px solid var(--pink);
  border-radius: 0.25em;
  border-top-left-radius: 1em;

  padding: 1em;

  margin-bottom: 1em;
}

ul {
  list-style: none;

  margin: 0;
  padding-left: 1em;

  & > li {
    list-style-type: '✏️';
    padding-left: 0.2em;
    padding: 0.2em;

    &::marker {
      font-size: 0.8em;
    }
  }
}
</style>
