<script setup lang="ts">
import api from '@api/api';
import { Zine, type SortingOptions, Sort, Order } from '@api/types';
import { watch, ref, type Ref, defineComponent } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useHead } from '@unhead/vue';

import ZineListing from '@/components/ZineListing.vue';

useHead({ title: api.config.title });

const router = useRouter();
const route = useRoute();
const zines: Ref<Zine[]> = ref([]);

const selected: Ref<SortingOptions | null> = ref(null);

zines.value = await api.get.get_all(route.query as any);

watch(
  () => route.query,
  async () => {
    zines.value = await api.get.get_all(route.query as any);
  },
);

watch(selected, async () => {
  if (selected.value == null) {
    await router.replace({ query: undefined });
  } else {
    await router.replace({ query: selected.value as any });
  }
});

defineComponent({ data: () => ({ Sort, Order }) });
</script>

<template>
  <div id="sort-container">
    <label for="sort">Sort:</label>
    <div class="select">
      <select id="sort" v-model="selected">
        <option :value="null" selected>Default</option>

        <option :value="{ sort_by: Sort.Title, order: Order.Ascending }">
          Title Ascending
        </option>
        <option :value="{ sort_by: Sort.Title, order: Order.Descending }">
          Title Descending
        </option>

        <option :value="{ sort_by: Sort.Year, order: Order.Ascending }">
          Year Published Ascending
        </option>
        <option :value="{ sort_by: Sort.Year, order: Order.Descending }">
          Year Published Descending
        </option>

        <option :value="{ sort_by: Sort.Added, order: Order.Ascending }">
          Date Added Ascending
        </option>
        <option :value="{ sort_by: Sort.Added, order: Order.Descending }">
          Date Added Descending
        </option>

        <option :value="{ random: true }">Random</option>
      </select>
    </div>
  </div>

  <ul>
    <li v-for="zine in zines" :key="zine.id">
      <ZineListing :zine="zine"></ZineListing>
    </li>
  </ul>
</template>

<style lang="postcss" scoped>
ul {
  list-style: none;
  padding-left: 0;

  & > li {
    margin-bottom: 1em;
  }
}

#sort-container {
  display: grid;
  grid: 'label dropdown';
  justify-content: end;
  align-items: end;
  gap: 1ex;

  & > label {
    grid-area: label;

    font-family: Poultry;
    font-size: 1.7rem;
  }
}

.select {
  grid-area: dropdown;

  cursor: pointer;
  position: relative;

  background-color: white;

  border: 2px solid var(--orange);
  border-radius: 0.25em;

  padding: 0.25em 0.5em;

  display: grid;
  grid: 'select';
  align-items: center;

  &::after {
    content: '↯';

    grid-area: select;
    justify-self: end;

    transition: transform 1s;
    transform: rotateZ(0deg);
  }

  &:focus-within:hover::after {
    transform: rotateZ(-180deg);
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  grid-area: select;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0 1em 0 0;
  width: 100%;
}
</style>
