<script lang="ts" setup>
import api from '@api/api';
import { useHead } from '@unhead/vue';

import ZineSearch from '@/components/ZineSearch.vue';

useHead({ title: `Search - ${api.config.title}` });
</script>

<template>
  <ZineSearch></ZineSearch>
</template>
