<script setup lang="ts">
import api from '@api/api';
import type { Zine } from '@api/types';
import { ref, type Ref } from 'vue';
import { useRoute, onBeforeRouteUpdate } from 'vue-router';
import { useHead } from '@unhead/vue';

import ZinePage from '@/components/ZinePage.vue';

const route = useRoute();

const zine: Ref<Zine | null> = ref(null);

onBeforeRouteUpdate(update);

async function update() {
  if (route.params.id == null) {
    // Error
    throw new Error();
  }

  if (Array.isArray(route.params.id)) {
    // Error
    throw new Error();
  }

  const id = parseInt(route.params.id, 10);

  if (isNaN(id)) {
    // Error
    throw new Error();
  }

  zine.value = await api.get.by_id(id);
  useHead({ title: `${zine.value.title} - ${api.config.title}` });
}

await update();
</script>

<template>
  <div v-if="zine != null">
    <ZinePage :zine="zine"></ZinePage>
  </div>
  <div v-else>Error...</div>
</template>
